<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wj.mapper.AgentBasicInfoMapper">
  <resultMap id="BaseResultMap" type="wj.pojo.AgentBasicInfo">
    <id column="agent_id" jdbcType="VARCHAR" property="agentId" />
    <id column="agent_name" jdbcType="VARCHAR" property="agentName" />
     <id column="agent_age" jdbcType="INTEGER" property="agentAge" />
    <id column="shop_number" jdbcType="VARCHAR" property="shopNumber" />
  </resultMap>
  
  <sql id="Base_Column_List">
    agent_id, agent_name, agent_age, shop_number
  </sql>
  
    <select id="orderByShopNumberAsc" resultMap="BaseResultMap">
	    SELECT
	    <include refid="Base_Column_List" /> 
	    FROM agent_basic_info
	    ORDER BY shop_number ASC
  </select>
</mapper>